<h1>Information about shark "<%=shar.name%>"</h1>
<p>-Their color is "<%=shar.color%>"</p>
<p>-Their weight is "<%=shar.weight%>"</p>
<p>-Their location is "<%=shar.location%>"</p>
<p>-Their ID number is "<%=shar._id%>"</p>
<p>-Created at "<%=shar.createdAt%>"</p>
<p>-Updated at "<%=shar.updatedAt%>"</p>
<a href="/sharks/edit/<%=shar._id%>">Edit this Shark?</a>
<br>
<a href="/">root</a>
