<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv"X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
  <body>
    <div class="container">
      <h1>Submitted Info</h1>
      <p>Name: <%= info.name %></p>
      <p>Email: <%= info.email %></p>
      <p>City: <%= info.city %></p>
      <p>Activity: <%= info.activity %></p>
      <p>Other: <%= info.other %></p>
      <form action ='/'>
        <input type="submit" class="btn btn-secondary" value="Go back"></input>
      </form>
    </div>
  </body>
</html>
