<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p style="text-decoration: underline;font-weight: bold;">Submitted Information:</p>

    <p>Name: <%= info.name %></p>
    <p>Email: <%= info.email %></p>
    <p>City: <%= info.city %></p>
    <p>Activity: <%= info.activity %></p>
    <p>Other: <%= info.other %></p>
    <form action='/'><input type="submit" value="Go Back"></input></form>
  </body>
</html>
