<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <title>posted</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <body>
        <h4>"<%= shark.name %>"</h4>
        <h4>"<%= shark.color %>"</h4>
        <h4>"<%= shark.weight %>"</h4>
        <h3>-<%= shark.location %> at <%=shark.updatedAt%></h3>
        <hr>
        <a href='/'>Add another</a>
  </body>
</html>
